[color]
        ui = auto
[core]
        pager = delta
[credential]
    {{ if eq .chezmoi.os "darwin" }}    # macos
        credentialStore = keychain
        helper =
        helper = /usr/local/share/gcm-core/git-credential-manager
    {{ else if eq .chezmoi.os "linux" }}
    {{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}    # wsl
        helper =
        helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
    {{   else }}    # linux
        credentialStore = secretservice
        helper =
        helper = {{.chezmoi.homeDir}}/.dotnet/tools/git-credential-manager
    {{   end }}
    {{ else if eq .chezmoi.os "windows" }}    # windows
        credentialStore = wincredman
        helper =
        helper = {{.chezmoi.homeDir}}/.dotnet/tools/git-credential-manager
    {{ else }}    # some other operating system?
    {{ end }}
[credential "https://dev.azure.com"]
        usehttppath = true
[delta]
        navigate = true
        side-by-side = true
[filter "lfs"]
        clean = git-lfs clean -- %f
        process = git-lfs filter-process
        required = true
        smudge = git-lfs smudge -- %f
[hub]
        protocol = ssh
[init]
        defaultbranch = main
[interactive]
        difffilter = delta --color-only
[pull]
        ff = only
[push]
        default = simple
[trace2]
        configparams = custom.metacommands
        eventbrief = true
        eventnesting = 1
        eventtarget = af_unix:/Users/ibuchanan/.gittrace/trace.sock
[user]
        email = ibuchanan@atlassian.com
        name = Ian Buchanan
