[user]
	email = ibuchanan@atlassian.com
	name = Ian Buchanan
[push]
	default = simple
[color]
	ui = auto
[hub]
	protocol = ssh
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[pull]
	ff = only
[init]
	defaultBranch = main
[credential]
	{{ if eq .chezmoi.os "darwin" }}
	# macos
	helper = /usr/local/share/gcm-core/git-credential-manager
	credentialStore = keychain
	{{ else if eq .chezmoi.os "linux" }}
	# linux
	helper = {{.chezmoi.homeDir}}/.dotnet/tools/git-credential-manager
	credentialStore = secretservice
	{{ else if eq .chezmoi.os "windows" }}
	# windows
	helper = {{.chezmoi.homeDir}}/.dotnet/tools/git-credential-manager
	credentialStore = wincredman
	.gitconfig
	{{ else }}
	# some other operating system?
	{{ end }}
[credential "https://dev.azure.com"]
	useHttpPath = true
